@keyframes spin1 {
	from {transform: rotate(0deg);}
	to {transform:rotate(360deg);;}
}

@keyframes spin2 {
	from {transform: rotate(360deg);}
	to {transform: rotate(0deg);}
}


@font-face {
	font-family:UniSansHeavyCaps;
	src:url("Assets/UniSansHeavyCaps.otf");
}

@font-face {
	font-family:Potra;
	src:url("Assets/Potra.ttf");
}
body,html {
	font-family:Noto Sans, Arial;
	margin:0px;
}

h1 {
	text-align:center;
	font-size:100px;
}

#Landing {
	height:100vh;
	background-image: url("Assets/background4.jpg");
	background-size:cover;
	background-position:center;
}

.clickable-box {
	display:inline-block;
	width:100px;
	height:100px;
	margin:50px 20px;
	border-radius:50%;
}

#atom, #sublime, #visual, #paint {
	transition:0.2s;
}

#atom {
	margin-left:10%;
	border:3px solid #4BCB7E;
	background-color:#0D2214;
}

#atom img:hover {
	filter:brightness(0%);
}

#atom:hover {
	background-color:#4BCB7E;
	border:3px solid #0D2214;
}


#sublime {
	border:3px solid #FD971F;
	background-color:#242424;
}

#sublime img:hover {
	filter:brightness(0%);
}

#sublime:hover {
	background-color:#FD971F;
	border:3px solid #242424;
	}

#visual {
	border:3px solid #9305C9;
	background-color:#19001E;
}


#visual img:hover {
	filter:brightness(0%);
}

#visual:hover {
	background-color:#9305C9;
	border:3px solid #19001E;
}

#inkscape {
	border:3px solid #c0006a;
	background-color:#162030;
}


#inkscape img:hover {
	filter:brightness(0%);
}

#inkscape:hover {
	background-color:#c0006a;
	border:3px solid #162030;
}


.clickable-box:hover {
	transform: scale(0.5L);
}

ul {
	list-style-type:none;
	margin:0px;
}

#Nav {
	background:rgb(255, 255, 255,0);
	position:fixed;
	width:100%;
	top:0;
	color:white;
	overflow:auto;
	z-index:5;
	transition:0.3s;
	transition-timing-function: ease-out;
	box-shadow:0 0 20px rgba(0,0,0,0.8);
}

li {
	float:right;
	border:0px;
	padding:10px 40px;
	display:block;
	margin:10px 10px;
	color:black;
	border-radius:50px;
	box-shadow:0 0 10px rgba(0,0,0,0.8);
	background:white;
}

li:hover {
	background:rgb(180, 180, 180);
	transition:0.2s;
}

.selected {
	color:black;
	background:white;
}


p {
	font:120% Roboto;
	margin:0% 10% 0% 10% ;
}

.headingp1,.headingp2{
	font-family:UniSansHeavyCaps, Arial;
	position:absolute;
	display:block;
	width:50%;
	left:50%;
	top:37%;
	transform: translate(-50%, -50%);
	opacity:0.8;
	transition:1s;
	color:white;

}

.headingp2 {
	top:50%;
}

.headingp1:hover {
	opacity:1;
	transition:1s;
}

.headingp2:hover {
	opacity:1;
	transition:1s;
}

button {
	position:absolute;
	top:80%;
	left:50%;
	transform: translate(-50%, -50%);
	font:150% Roboto;
	padding:10px 100px;
	border-radius:30px;
	border:1.5px solid #191919;
	background:#1A1A1A;
	color:white;
	transition:0.5s;
	opacity:0.5;
	outline:none;
}

button:hover {
	border-radius:10px;
	opacity:1;
	transition:0.5s;
}

button:active {
	border:2px solid white;
}

#image-container {
	margin:10%;
}
img {
	display:block;
	margin:auto;
	transition:0.2s;
}

.image-text {
	position:relative;
	display:inline-block;
	width:47%;

}

.image-text :not(Img){
	position:absolute;
	top:30%;
	color:white;
	text-align:center;
	width:100%;
	z-index:5;
	opacity:0;
}

.image-text img {
	width:100%;
}

h3 {
	font:250% Roboto;
	transition:0.2s;
}

.image-text:hover img{
	filter:brightness(20%);
    transition:0.2s;
}

.image-text:hover :not(img) {
	opacity:1;
	transition:0.2s;
}

h2 {
	font:400% Potra;
	margin:10% 0% 2% 10%;
}

#Nav:hover {
	opacity:1;
}

.logo {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	transition:0.2;
}
